@font-face {
  font-family: 'Arvo';
  src: url("../fonts/Arvo-Regular.ttf"); }
@font-face {
  font-family: 'Arvo';
  src: url("../fonts/Arvo-Regular.ttf");
  font-weight: normal; }
@font-face {
  font-family: 'Arvo';
  src: url("../fonts/Arvo-Bold.ttf");
  font-weight: bold; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Light.ttf"); }
/*
@font-face {
    font-family: 'fontello';
    src: url("../fonts/fontello.ttf");
    font-weight:normal;
}
*/
/* TYPOGRPAHY */
a {
  color: #1985DD;
  line-height: inherit;
  text-decoration: none; }

a:hover, a:focus {
  color: #020d16; }

.panel h1,
.panel h2,
.panel h3,
.panel h4,
.panel h5,
.panel h6 {
  line-height: 1;
  margin-bottom: 0.625rem;
  font-family: "Arvo", serif;
  color: #1985DD;
  text-transform: uppercase;
  font-weight: normal; }

/* HEADER */
header {
  border-bottom: solid 10px #c8d5fc; }

header div.slogan {
  margin-top: 1em; }

header div.slogan .title, header div.slogan .description {
  font-weight: 300; }

header div.slogan .title {
  font-size: 5.8em;
  color: #FFF;
  text-transform: uppercase;
  font-family: "Arvo", serif;
  text-align: center; }

header div.slogan .title {
  font-size: 5.8em;
  margin-top: 0;
  color: #FFF;
  text-transform: uppercase;
  font-family: "Arvo", serif;
  text-align: center; }

header div.slogan .typed-strings em {
  font-style: normal;
  font-family: "Arvo", serif; }

header div.slogan .typed-strings {
  color: #020d16;
  font-family: "Roboto", Helvetica, sans-serif;
  text-align: center;
  padding-bottom: 10px; }

header div.slogan .strings {
  display: none; }

header div.logo {
  padding: 0px;
  padding-top: 10px; }

header div.slogan a {
  color: #FFF; }

header div.slogan a:hover {
  color: #020d16; }

header div.logo img {
  /*
  max-height: 120px;
  filter: brightness(200%);
      -webkit-filter: brightness(200%);
      -moz-filter: brightness(0%);
      -o-filter: brightness(0%);
      -ms-filter: brightness(0%);
  */
  /*
  filter: hue-rotate(180deg);
      -webkit-filter: hue-rotate(180deg);
      -moz-filter: hue-rotate(180deg);
      -o-filter: hue-rotate(180deg);
      -ms-filter: hue-rotate(180deg);
  */ }

/* NAVIGATION */
.top-bar {
  background: none;
  z-index: 99; }

.top-bar.expanded {
  overflow: visible;
  min-height: 100%; }

.top-bar-section li:not(.has-form) a:not(.button) {
  font-size: 1.1em; }

@media only screen and (max-width: 60em) {
  .top-bar-section li:not(.has-form) a:not(.button) {
    font-size: 1em; }

  .top-bar-section li:not(.has-form) a:not(.button) {
    line-height: 2.8125rem;
    padding: 2px 0.3rem; } }
.top-bar-section .dropdown li:not(.has-form) a:not(.button) {
  font-size: 1em; }

.top-bar-section ul li > a {
  color: #FFF; }

.top-bar-section li a:hover {
  background: #020d16; }

.nav-wrapper nav {
  /*! overflow: hidden; */ }

.top-bar .toggle-topbar.menu-icon {
  top: 50%; }

.top-bar ul li {
  background: #FFF;
  /*border-bottom: dotted 1px $link-color;*/ }

.top-bar .toggle-topbar.menu-icon {
  border-bottom: none; }

.top-bar .toggle-topbar.menu-icon a {
  color: #1985DD;
  padding: 0 2.5rem 0 0.9375rem;
  position: relative;
  font-size: 1.2em;
  font-family: "Roboto", Helvetica, sans-serif; }

.top-bar .toggle-topbar.menu-icon a span::after {
  box-shadow: 0 0 0 1px #1985DD, 0 7px 0 1px #1985DD, 0 14px 0 1px #1985DD; }

.top-bar-section ul li {
  background: none; }

.nav-wrapper nav ul li a {
  font-family: "Arvo", serif;
  text-transform: uppercase; }

.nav-wrapper nav {
  margin-top: 20px; }

.nav-wrapper nav #home-link i {
  font-size: 1.8em; }

.top-bar-section .dropdown li a {
  font-size: 0.7em; }

.top-bar-section .dropdown {
  display: block;
  height: auto;
  margin: 0;
  padding: 0;
  width: 100%; }

/* WORDPRESS NAVIGATION HIGHLIGHT */
.nav-wrapper nav.top-bar li.current-menu-item,
.nav-wrapper nav.top-bar li.current-menu-ancestor,
.nav-wrapper nav.top-bar li.current-menu-parent {
  border-bottom: solid 4px #020d16; }

/* SOCIAL ICONS */
.socials {
  margin-top: 0px; }

.socials ul {
  margin: 0;
  padding: 0; }

.socials ul li {
  text-align: center;
  float: left;
  list-style: none;
  margin-left: 25px; }

.socials a {
  color: #FFF;
  font-size: 20px;
  width: 36px;
  height: 36px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  border: solid 1px #FFF;
  display: block; }

.socials a:hover {
  color: #020d16;
  font-size: 20px;
  text-align: center;
  border: solid 1px #020d16; }

.socials .screen-reader-text {
  position: absolute;
  top: -9999em;
  left: -9999em; }

header .socials a {
  color: #020d16;
  font-size: 20px;
  width: 36px;
  height: 36px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  border: solid 1px #020d16;
  display: block; }

.socials a:hover {
  color: #FFF;
  font-size: 20px;
  text-align: center;
  border: solid 1px #FFF; }

.socials li a::before {
  content: '\f408';
  display: inline-block;
  padding: 4px;
  font-family: 'FontAwesome';
  font-size: 18px;
  vertical-align: top;
  -webkit-font-smoothing: antialiased; }

.socials li a[href*="wordpress.com"]::before {
  content: '\f205'; }

.socials li a[href*="facebook.com"]::before {
  content: '\f09a'; }

.socials li a[href*="twitter.com"]::before {
  content: '\f099'; }

.socials li a[href*="dribbble.com"]::before {
  content: '\f17d'; }

.socials li a[href*="plus.google.com"]::before {
  content: '\f0d5'; }

.socials li a[href*="pinterest.com"]::before {
  content: '\f231'; }

.socials li a[href*="github.com"]::before {
  content: '\f09b'; }

.socials li a[href*="tumblr.com"]::before {
  content: '\f174'; }

.socials li a[href*="youtube.com"]::before {
  content: '\f16a'; }

.socials li a[href*="flickr.com"]::before {
  content: '\f16e'; }

.socials li a[href*="vimeo.com"]::before {
  content: '\f27d'; }

.socials li a[href*="instagram.com"]::before {
  content: '\f16d'; }

.socials li a[href*="codepen.io"]::before {
  content: '\f1cb'; }

.socials li a[href*="linkedin.com"]::before {
  content: '\f0e1'; }

/* TEST COLORS */
.background-indigo {
  background: indigo; }

.background-purple {
  background: #76207d; }

.background-blue {
  background: #0f9cd3; }

.background-green {
  background: #a4c20d; }

.background-green-forest {
  background: #0c8700; }

.background-safran {
  background: #ffca00; }

.background-orange {
  background: #f95915; }

.background-lightgrey {
  background: #f2f4f4; }

.background-grey {
  background: #5a5c5f; }

.background-darkgrey {
  background: #292929; }

.background-red {
  background: #e8351a; }

/* test sizes */
.height-100 {
  min-height: 100px; }

.height-120 {
  min-height: 120px; }

.height-50 {
  min-height: 50px; }

.height-30 {
  min-height: 30px; }

.height-200 {
  min-height: 200px; }

.height-300 {
  min-height: 300px; }

.height-150 {
  min-height: 150px; }

.height-400 {
  min-height: 400px; }

.height-450 {
  min-height: 450px; }

.height-500 {
  min-height: 500px; }

/* BUTTONS */
.button, button {
  background-color: #0e94c9; }

article .panel .button {
  border-radius: 5px;
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-family: "Roboto", Helvetica, sans-serif, Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 0.8rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1.4rem;
  font-size: 0.8rem;
  border-color: "Roboto", Helvetica, sans-serif;
  color: #FFFFFF;
  text-transform: uppercase;
  transition: background-color 300ms ease-out; }

/* MAIN COLUMN */
.main-column {
  padding-left: 0px; }

/* POST ITEM */
article button:hover,
article .panel .button:focus,
article .panel .button:hover,
article .panel .button:focus,
.widget .button:hover {
  background-color: #020d16;
  color: #FFFFFF; }

article.post-item .post-item-title {
  font-family: "Arvo", serif, Helvetica, Roboto, Arial, sans-serif;
  text-transform: uppercase;
  line-height: 1.3rem; }

article .post-item-date {
  color: #FFF;
  text-align: center;
  font-size: 0.8rem;
  position: absolute;
  top: 40px;
  right: 15px;
  background: #0e94c9;
  text-transform: uppercase;
  padding: 5px; }

article .post-item-date span {
  display: block; }

article .post-item-date .day {
  font-weight: bold;
  font-size: 2.5em; }

article .post-item-date .month-year {
  font-size: 0.7em; }

article .panel {
  border: none;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  padding-bottom: 0px;
  position: relative; }

/* CATEGORY ITEM */
.main-row {
  padding: 0px;
  margin-top: 20px; }

.category-row {
  margin-bottom: 30px; }

.category-row .post-list {
  margin-top: 30px;
  margin-bottom: 20px; }

.category-row .category-header {
  margin-bottom: 10px; }

.category-title {
  font-family: "Roboto", Helvetica, sans-serif;
  color: #1985DD;
  text-transform: uppercase;
  padding: 0px;
  text-align: center; }

.category-title-line {
  background: #1985DD;
  height: 1px; }

article.columns + article.columns:last-child {
  float: left; }

.category-row article {
  padding-bottom: 0px;
  margin-bottom: 1.35rem; }

.category-row article .panel {
  border: none;
  margin-bottom: 0;
  padding: 0.9rem;
  padding-bottom: 0px;
  padding-top: 0.2rem;
  background: none; }

.category-row .post-item-caption {
  height: 100%;
  background: #f2f2f2;
  webkit-box-shadow: 0px 0px 2px 1px #c9c9c9;
  -moz-box-shadow: 0px 0px 2px 1px #c9c9c9;
  box-shadow: 0px 0px 2px 1px #c9c9c9; }

.category-row article .post-item-image {
  max-height: 180px;
  overflow: hidden; }

.category-row article .panel p {
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.3;
  margin-bottom: 0.9rem;
  text-rendering: optimizeLegibility; }

.category-row .category-link-wrapper {
  display: block; }

article .post-item-date.wrap {
  color: gray;
  text-align: center;
  font-size: 0.75rem;
  position: relative;
  top: 0px;
  right: 0px;
  background: none;
  text-transform: uppercase;
  padding: 0; }

/* FOOTER */
footer#footer {
  padding-bottom: 25px;
  color: #FFF; }

footer .copyright {
  font-size: 0.9em; }

footer .copyright a {
  color: #020d16; }

footer .copyright a:hover {
  color: #FFF; }

footer .breadcrumbs {
  display: block;
  list-style: none;
  margin-left: 0;
  overflow: hidden;
  padding: 0.5625rem 0.875rem 0.5625rem;
  background-color: transparent;
  border: none; }

footer .breadcrumbs li a,
footer .breadcrumbs li {
  color: #FFF; }

footer .breadcrumbs li a:hover {
  color: #000; }

footer .breadcrumbs > *::before {
  color: #000; }

footer .footer-bar {
  margin-bottom: 25px;
  background-image: url("../img/bright-squares.png");
  background-blend-mode: normal;
  padding-top: 20px;
  padding-bottom: 60px;
  margin-top: 20px;
  background-attachment: fixed; }

footer .footer-bar form {
  max-width: 100%;
  overflow: hidden; }

.widget .button.small {
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  font-size: 1em;
  padding: 0.55em; }

footer .footer-bar .widget-title {
  color: #FFF; }

footer .footer-bar {
  margin-top: 20px;
  background-color: #020d16; }

footer .footer-bar .widget-title {
  font-family: "Arvo", serif;
  text-transform: uppercase;
  border-bottom: solid 1px;
  padding-bottom: 20px;
  display: block;
  margin-bottom: 15px; }

footer .back-to-top-wrapper {
  position: relative; }

footer a.back-to-top {
  width: 60px;
  height: 60px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  color: #FFF;
  background: #0e94c9;
  position: fixed;
  text-align: center;
  line-height: 60px;
  right: 4%;
  bottom: 30%;
  font-size: 2em; }

footer a.back-to-top:hover {
  color: #1985DD;
  background: #fff;
  border: solid 1px #1985DD; }

footer a#back-to-top {
  opacity: 1;
  z-index: 999; }

footer .socials a:hover {
  color: #020d16;
  border: solid 1px #020d16; }

/* SIDEBAR */
aside .widget {
  max-width: 100%;
  margin-bottom: 15px;
  border: solid 1px #d8d8d8; }

aside .widget ul, .widget ol {
  padding: 15px 10px; }

aside .row.widget {
  margin-bottom: 20px;
  border: solid 1px #d8d8d8; }

aside .widget-title {
  color: #FFF;
  font-family: "Arvo", serif;
  text-transform: uppercase;
  display: block;
  margin-bottom: 15px;
  background: #123e66; }

aside .widget_search .widget-title {
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  background: none; }

aside .widget_search {
  background: #0e94c9;
  padding: 5px 10px 0px 15px;
  border: solid 1px #0e94c9; }

aside .widget_search button {
  font-size: 1.4em; }

aside .widget .button.small {
  padding: 0.6rem 0.5rem 0.7rem 0.5rem;
  font-size: 0.8125rem; }

aside .widget-title {
  padding: 5px 10px 0px 15px;
  margin-bottom: 0px;
  margin-top: 0px; }

aside .widget-title .fa {
  font-size: 0.85em;
  height: 22px;
  line-height: 22px;
  padding-right: 10px;
  display: block;
  float: left; }

aside .twitter-feed .widget-title {
  background: #35a0d8; }

aside .widget.twitter-feed {
  max-height: 300px;
  overflow: hidden; }

aside .facebook-box .widget-title {
  background: #3e5e97; }

aside .facebook-box iframe {
  width: 100%; }

aside .recent-posts-box ul {
  padding: 0;
  margin: 0;
  padding: 15px; }

aside .widget ul li {
  list-style: none;
  padding-bottom: 10px;
  margin-bottom: 5px;
  border-bottom: dashed 1px #d8d8d8; }

aside .widget ul li:last-child {
  border-bottom: none; }

aside .recent-posts-box ul li:last-child {
  border-bottom: none; }

.widget .button.small {
  padding: 0.64rem;
  font-size: 0.8125rem;
  width: 100%; }

.widget ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.widget ul li a:before {
  font-family: "FontAwesome";
  content: '\f054';
  color: #1985DD;
  padding-right: 10px; }

.widget ul li a {
  font-size: 0.9em;
  color: #020d16; }

footer .widget ul li a {
  font-size: 0.9em;
  color: #FFF; }

aside .recent-posts-box ul li a {
  font-size: 0.8em; }

.widget ul li a:hover {
  color: #1985DD; }

/* SINGLE POST */
.single-row {
  padding: 0px; }

.single-row article .panel {
  padding-top: 15px;
  padding-bottom: 15px; }

.single-row article .panel,
.archive-row article .panel {
  border: none;
  margin: 0;
  padding: 15px;
  background: none; }

.single-row article .panel .post-item-date {
  text-align: center; }

.single-row article .panel .post-item-date p {
  clear: right;
  text-transform: uppercase;
  font-size: 1em;
  margin-bottom: 0.4em; }

.single-row article .panel .post-item-date .post-item-day {
  color: #000;
  font-weight: bold; }

.single-row article .panel .post-item-category {
  padding-top: 5px;
  border-top: solid 1px; }

.single-row .post-categories, .single-row .post-tags {
  margin-right: 20px;
  margin-bottom: 20px; }

.single-row article.post-item iframe {
  min-width: 100%; }

.single-row article.post-item {
  padding: 15px;
  /* background: rgba(245, 245, 245, 0.8) !important; */
  line-height: 1.3em;
  font-size: 17px;
  width: 100%;
  background: #FFF;
  /* padding-top:50px; */
  text-align: justify;
  -webkit-box-shadow: 0px 0px 2px 1px #c9c9c9;
  -moz-box-shadow: 0px 0px 2px 1px #c9c9c9;
  box-shadow: 0px 0px 2px 1px #c9c9c9; }

.single-row article .post-item-image {
  position: relative; }

.single-row article.post-item .wp-caption {
  background: #efefef;
  color: #000;
  font-style: italic; }

.single-row article.post-item .wp-caption-text {
  padding: 5px;
  text-align: center;
  font-size: 0.7em; }

.single-row article.post-item ul,
.single-row article.post-item ul {
  list-style: none; }

.single-row article.post-item ol {
  list-style: none;
  counter-reset: li; }

.single-row article.post-item .post-content ol li:before {
  content: counter(li) ".";
  color: #1985DD;
  display: inline-block;
  width: 1em;
  font-weight: bold;
  padding-right: 25px; }

.single-row article.post-item ol li {
  counter-increment: li; }

.single-row article.post-item .post-content ul li:before {
  font-family: "FontAwesome";
  content: '\f054';
  color: #1985DD;
  padding-right: 1em;
  font-size: 0.7em;
  height: 10px;
  line-height: 10px;
  position: relative;
  bottom: 3px; }

.single-row article.post-item blockquote {
  background: #efefef;
  border-left: 5px solid #1985DD;
  padding: 5px 10px 5px 20px;
  margin-bottom: 10px; }

.single-row article .category-title-line {
  height: 2px; }

.single-row article .post-item-date {
  color: #FFF;
  text-align: center;
  font-size: 0.8rem;
  position: absolute;
  top: 80px;
  right: -5px;
  background: #0e94c9;
  text-transform: uppercase;
  padding: 5px;
  padding-left: 10px;
  webkit-box-shadow: 0px 0px 2px 1px #0e94c9;
  -moz-box-shadow: 0px 0px 2px 1px #0e94c9;
  box-shadow: 0px 0px 2px 1px #0e94c9; }

.single-row article.post-item blockquote p {
  margin: 7px 0; }

.single-row article.post-item blockquote blockquote {
  background: #fff; }

.single-row article.post-item .post-item-author {
  padding: 20px 10px;
  background: #1d1d1b; }

.single-row .post-item-author p,
.single-row .post-item-author {
  color: white;
  font-size: 0.9em; }

.single-row .post-item-author img {
  height: 120px;
  width: 120px;
  max-width: 100%;
  height: auto;
  border-radius: 60px;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px; }

/*
.single-row article.post-item img {    background:#FFF;padding:6px;border:solid 1px #d9d9d9;
}
*/
.single-row article button:hover,
.single-row article .panel .button:focus,
.single-row article .panel .button:hover,
.single-row article .panel .button:focus,
.single-row .widget .button:hover {
  background-color: #000;
  color: #FFFFFF; }

.single-row article.post-item .bottom-line {
  border-bottom: 10px solid #1985DD;
  margin-bottom: 10px; }

.single-row article.post-item .post-item-title {
  font-family: "Arvo", serif, Helvetica, Roboto, Arial, sans-serif;
  text-transform: uppercase;
  line-height: 2.5rem;
  padding-bottom: 5px;
  text-align: left; }

.breadcrumbs {
  display: block;
  list-style: none;
  margin-left: 0;
  overflow: hidden;
  padding: 0.5625rem 0.875rem 0.5625rem;
  background-color: transparent;
  border: none; }

.single-row .breadcrumbs {
  /* margin-bottom:15px;*/
  padding: 5px 20px; }

.single-row .post-item .breadcrumbs {
  font-weight: bold;
  font-size: 0.9em;
  padding: 0; }

.breadcrumbs > * {
  color: #000;
  font-size: 0.7em; }

.breadcrumbs > * {
  line-height: 1.2rem; }

.breadcrumbs a {
  color: #1985DD; }

.breadcrumbs a:hover {
  color: #0e94c9; }

/* ARCHIVES */
.category-row.archive-row .category-title, .category-row.archive-row .category-title-line, .not-found,
.single-row .category-title, .single-row .category-title-line {
  text-align: left; }

/* TABLES */
table,
th,
td {
  border: 1px solid #c8d5fc; }

table {
  width: 100%; }

table thead tr th {
  background-color: #1985DD;
  color: white;
  text-transform: uppercase;
  font-family: "Arvo", serif; }

/* WORDPRESS STYLES */
.aligncenter,
div.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.alignleft {
  float: left; }

.alignright {
  float: right; }

img.alignleft {
  margin: 3px 20px 10px 0; }

img.alignright {
  margin: 3px 0 10px 20px; }

/* RESPONSIVE STYLES */
@media only screen and (max-width: 39.0624em) {
  .columns.nav-wrapper {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px; }

  .top-bar-section ul li > a {
    color: #0e94c9; } }
@media only screen and (max-width: 40.0625em) {
  header div.slogan .title {
    padding-top: 20px;
    font-size: 3.8em; }

  header div.logo {
    margin: 0 auto;
    float: none; }

  .nav-wrapper ul.right,
  .nav-wrapper ul.left {
    float: none !important; }

  .nav-wrapper nav {
    border: none; }

  .top-bar ul.title-area li {
    background: #000; }

  .top-bar ul li {
    background: #FFF;
    border-bottom: dotted 1px #1985DD; }

  .top-bar-section .dropdown li.title.back h5 a::before {
    font-family: "FontAwesome";
    content: '\f053';
    font-size: 0.8em;
    border: none;
    color: #0e94c9; }

  .top-bar-section .dropdown li.title.back h5 a {
    color: #FFF; }

  .top-bar-section .dropdown li.title h5 a, .top-bar-section .dropdown li.parent-link a {
    color: #0e94c9;
    display: block; }

  .top-bar-section .has-dropdown > a::after {
    font-family: "FontAwesome";
    content: '\f054';
    font-size: 0.8em;
    border: none;
    padding-right: 10px;
    height: 1em;
    line-height: 1em; }

  .top-bar-section ul li:hover:not(.has-form) > a {
    color: #000;
    background: #FFF; }

  .top-bar-section ul li > a {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.7em; }

  nav ul.languages li.oblique-border {
    display: none; }

  .category-row article,
  .category-row article:nth-child(2n+0) {
    padding: 0px; }

  .category-row .post-list,
  .archive-row {
    padding: 15px; }

  .main-column {
    padding-right: 0px; }

  .category-row article,
  .sy-controls li a:after {
    top: 50%; }

  p {
    font-size: 0.9rem;
    line-height: 1.4;
    margin-bottom: 1.25rem;
    text-rendering: optimizeLegibility; }

  .category-row article .post-item-image img {
    width: 100%;
    max-width: 100%;
    height: auto; }

  .category-row article .post-item-image {
    max-height: 200px; }

  .category-row article .panel p {
    font-family: inherit;
    font-size: 0.9rem;
    font-weight: normal;
    line-height: 1.3;
    margin-bottom: 0.6rem;
    text-rendering: optimizeLegibility; } }
/* COLORS */
footer#footer {
  background: #0e94c9; }

header .overlay {
  background: rgba(14, 148, 201, 0.9);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0;
  padding-top: 15px; }

header .overlay .site-title a, header .overlay .site-description {
  font-family: "Arvo", serif;
  text-align: center;
  color: #000; }

header .overlay .site-title a:hover {
  color: #FFF; }

header .overlay .site-title {
  line-height: 0.8em;
  margin-top: 20px;
  text-transform: uppercase; }

header .overlay .site-description {
  font-size: 0.8em; }

header .socials {
  padding-bottom: 25px; }

header {
  display: block;
  position: relative;
  background-repeat: no-repeat;
  background-position: center bottom;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-size: cover; }

.clearfix {
  clear: both; }

/* ANIMATED CURSOR */
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/* PAGINATION */
.nav-links div {
  display: inline; }

.nav-links .nav-next {
  float: right; }

.nav-links .nav-prev {
  float: left; }

.page-numbers, .nav-links div {
  font-family: "Roboto", Helvetica, sans-serif;
  display: inline-block;
  padding: 5px 10px;
  margin: 0 2px 0 0;
  border: 1px solid #1985DD;
  line-height: 1;
  text-decoration: none;
  border-radius: 2px;
  font-weight: 600;
  font-size: 1em; }

.page-numbers.current,
a.page-numbers:hover {
  background: #1985DD;
  color: #FFF; }

span.page-numbers.dots {
  color: #1985DD; }

/* MISCELLANEOUS */
figure {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px; }

article.comment-wrapper {
  margin-top: 20px; }

/* WORDPRESS GALLERY */
.post-content .gallery:after {
  content: "";
  display: table;
  clear: both; }

img.aligncenter, div.aligncenter, figure.aligncenter {
  display: block;
  margin: 1em auto; }

img.alignright, div.alignright, figure.alignright {
  float: right;
  margin: 1em 0 1em 2em; }

img.alignleft, div.alignleft, figure.alignleft, img.wp-post-image.attachment-thumb {
  float: left;
  margin: 1em 1em 2em 0; }

figure {
  max-width: 100%;
  height: auto;
  margin: 1em 0; }

p img.alignright, p img.alignleft {
  margin-top: 0; }

.gallery figure img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block; }

.gallery figure {
  float: left;
  margin: 0 2% 1em 0; }

.gallery.gallery-columns-1 figure {
  width: 100%;
  margin: 0 0 1em 0;
  float: none; }

.post-content .gallery.gallery-columns-3 figure {
  width: 32%; }

.gallery.gallery-columns-3 figure:nth-of-type(3n+3) {
  margin-right: 0; }

.gallery.gallery-columns-3 figure:nth-of-type(3n+4) {
  clear: left; }

.gallery.gallery-columns-2 figure {
  width: 49%; }

.gallery.gallery-columns-2 figure:nth-of-type(even) {
  margin-right: 0; }

.gallery.gallery-columns-2 figure:nth-of-type(odd) {
  clear: left; }

.gallery.gallery-columns-4 figure {
  width: 23.25%; }

.gallery.gallery-columns-4 figure:nth-of-type(4n+4) {
  margin-right: 0; }

.gallery.gallery-columns-4 figure:nth-of-type(4n+5) {
  clear: left; }

.gallery.gallery-columns-5 figure {
  width: 18%; }

.gallery.gallery-columns-5 figure:nth-of-type(5n+5) {
  margin-right: 0; }

.gallery.gallery-columns-5 figure:nth-of-type(5n+6) {
  clear: left; }

.gallery.gallery-columns-6 figure {
  width: 14.2%; }

.gallery.gallery-columns-6 figure:nth-of-type(6n+6) {
  margin-right: 0; }

.gallery.gallery-columns-6 figure:nth-of-type(6n+7) {
  clear: left; }

.gallery.gallery-columns-7 figure {
  width: 12%; }

.gallery.gallery-columns-7 figure:nth-of-type(7n+7) {
  margin-right: 0; }

.gallery.gallery-columns-7 figure:nth-of-type(7n+8) {
  clear: left; }

.gallery.gallery-columns-8 figure {
  width: 10.2%; }

.gallery.gallery-columns-8 figure:nth-of-type(8n+8) {
  margin-right: 0; }

.gallery.gallery-columns-8 figure:nth-of-type(8n+9) {
  clear: left; }

.gallery.gallery-columns-9 figure {
  width: 8.85%; }

.gallery.gallery-columns-9 figure:nth-of-type(9n+9) {
  margin-right: 0; }

.gallery.gallery-columns-9 figure:nth-of-type(9n+10) {
  clear: left; }

@media (max-width: 767px) {
  img.alignright, div.alignright, figure.alignright, img.alignleft, div.alignleft, figure.alignleft, img.wp-post-image.attachment-thumb {
    display: block;
    margin: 1em auto;
    float: none; }

  .gallery.gallery-columns-4 figure, .gallery.gallery-columns-5 figure, .gallery.gallery-columns-6 figure, .gallery.gallery-columns-7 figure, .gallery.gallery-columns-8 figure, .gallery.gallery-columns-9 figure {
    width: 100%;
    margin: 0 0 1em 0;
    float: none; } }
/* COMMENTS THREAD */
.comment-list {
  list-style: none;
  counter-increment: none; }

.comment-content
.widget input[type=submit] {
  max-width: 120px; }

/* COMMENT THREAD */
.comment-list, .comment-list .vcard .fn, .comment-content, .comment-content p {
  font-size: 0.85rem; }

.comment-list .vcard {
  margin: 0 0 0.5rem;
  width: 100%; }

#comments label {
  display: inline; }

#comments span.required {
  color: crimson; }

ul.comment-list {
  list-style: none; }

.comment-list > li.comment {
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0 0 0.5em;
  position: relative; }

/*# sourceMappingURL=style-blue.css.map */
