$author-image-radius : 60px;
$icon-font:    'FontAwesome';
$primary-font:    'Arvo', serif;
$second-font:    'Roboto',Helvetica, sans-serif;
$shadow-color:#c9c9c9;
$border-color:#d8d8d8;

@font-face {
    font-family: 'Arvo';
    src: url("../fonts/Arvo-Regular.ttf");
}
@font-face {
    font-family: 'Arvo';
    src: url("../fonts/Arvo-Regular.ttf");
    font-weight:normal;
}
@font-face {
    font-family: 'Arvo';
    src: url("../fonts/Arvo-Bold.ttf");
    font-weight:bold;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Light.ttf");
}
/*
@font-face {
    font-family: 'fontello';
    src: url("../fonts/fontello.ttf");
    font-weight:normal;
}
*/

/* TYPOGRPAHY */
a {
    color: $link-color;
    line-height: inherit;
    text-decoration: none;
}
a:hover, a:focus {
    color: $dark-color;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    
}
.panel h1,
.panel h2,
.panel h3,
.panel h4,
.panel h5,
.panel h6 {
    line-height: 1;
    margin-bottom: 0.625rem;
    font-family: $primary-font;
    color: $link-color;
    text-transform: uppercase;
    font-weight: normal;
}

/* HEADER */

header {
    border-bottom: solid 10px $extra-light-color;
;
}

header div.slogan .title, header div.slogan .description{
    font-weight: 300;
}

header div.slogan .title{
    font-size: 5.8em;
    color: $light-color;
    text-transform: uppercase;
    font-family: $primary-font;
    text-align: center;
}
header div.slogan .typed-strings em{
    font-style: normal;
    font-family: $primary-font;
}
header div.slogan .typed-strings{
    color: $dark-color;
    font-family: $second-font;
    text-align: center;
    padding-bottom:10px;
}
header div.slogan .strings{
    display: none;
}
header div.logo {
    padding: 0px;
    padding-top: 10px;
}

header div.slogan a {
    color: #FFF;
}

header div.slogan a:hover {
    color: $dark-color;
}

header div.logo img {
    /*
    max-height: 120px;
    filter: brightness(200%);
        -webkit-filter: brightness(200%);
        -moz-filter: brightness(0%);
        -o-filter: brightness(0%);
        -ms-filter: brightness(0%);
    */
    /*
    filter: hue-rotate(180deg);
        -webkit-filter: hue-rotate(180deg);
        -moz-filter: hue-rotate(180deg);
        -o-filter: hue-rotate(180deg);
        -ms-filter: hue-rotate(180deg);
    */
}



/* NAVIGATION */
.top-bar {
    background: none;
    z-index: 99;

}
.top-bar.expanded {
    overflow: visible;
    min-height: 100%;
}
.top-bar-section li:not(.has-form) a:not(.button) {
    font-size: 1.2em;
}
@media only screen and (max-width: 60em) {
    .top-bar-section li:not(.has-form) a:not(.button) {
    font-size: 1em;
    }
    .top-bar-section li:not(.has-form) a:not(.button) {
        line-height: 2.8125rem;
        padding: 2px 0.5rem;
    }
}
.top-bar-section .dropdown li:not(.has-form) a:not(.button) {
    font-size: 1em;
}

.top-bar-section ul li > a {
    color:$light-color;
}
.top-bar-section li a:hover {
    background: $dark-color;
}
.nav-wrapper {
    margin-bottom: -25px;
}

.nav-wrapper nav {
    /*! overflow: hidden; */
}

.top-bar .toggle-topbar.menu-icon {
    top: 50%;
}
.top-bar ul li {
        background: #FFF;
        /*border-bottom: dotted 1px $link-color;*/
    }
.top-bar .toggle-topbar.menu-icon {
    border-bottom: none;
}
.top-bar .toggle-topbar.menu-icon a {
    color: $link-color;
    padding: 0 2.5rem 0 0.9375rem;
    position: relative;
    font-size: 1.2em;
    font-family: $second-font;

}
.top-bar .toggle-topbar.menu-icon a span::after {
    box-shadow: 0 0 0 1px $link-color, 0 7px 0 1px $link-color, 0 14px 0 1px $link-color;
}

.top-bar-section ul li {
    background: none;
}


.nav-wrapper nav ul li a {
    font-family: $primary-font;
    text-transform: uppercase;
}

.nav-wrapper nav {
    margin-top: 20px;
}

.nav-wrapper nav #home-link i{
    font-size:1.8em;
}

.top-bar-section .dropdown li a {
    font-size:0.7em;
}
.top-bar-section .dropdown {
    display: block;
    height: auto;
    margin: 0;
    padding: 0;
    width: 100%;
    
}

/* WORDPRESS NAVIGATION HIGHLIGHT */

.nav-wrapper nav.top-bar li.current-menu-item,
.nav-wrapper nav.top-bar li.current-menu-ancestor,
.nav-wrapper nav.top-bar li.current-menu-parent
{
    border-bottom:solid 4px $link-color;
}

/* SOCIAL ICONS */

.socials {
    margin-top:0px;
}
.socials ul {
    margin: 0;
    padding: 0;
}

.socials ul li {
    text-align: center;
    float: left;
    list-style: none;
    margin-left: 25px;
}

.socials ul li a {
    color: $light-color;
    font-size: 20px;
    width: 36px;
    height: 36px;
    
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    border: solid 1px $light-color;
    display: block;
}

.socials ul li a:hover {
    color: $dark-color;
    font-size: 20px;
    text-align: center;
    border: solid 1px $dark-color;
}

header .socials ul li a {
    color: $dark-color;
    font-size: 20px;
    width: 36px;
    height: 36px;
    
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    border: solid 1px $dark-color;
    display: block;
}

.socials ul li a:hover {
    color: $light-color;
    font-size: 20px;
    text-align: center;
    border: solid 1px $light-color;
}

/* TEST COLORS */

.background-indigo {
    background: indigo;
}

.background-purple {
    background: #76207d;
}

.background-blue {
    background: #0f9cd3;
}

.background-green {
    background: #a4c20d;
}

.background-green-forest {
    background: #0c8700;
}

.background-safran {
    background: #ffca00;
}

.background-orange {
    background: #f95915;
}

.background-lightgrey {
    background: #f2f4f4;
}

.background-grey {
    background: #5a5c5f;
}

.background-darkgrey {
    background: #292929;
}

.background-red {
    background: #e8351a;
}


/* test sizes */

.height-100 {
    min-height: 100px;
}

.height-120 {
    min-height: 120px;
}

.height-50 {
    min-height: 50px;
}

.height-30 {
    min-height: 30px;
}
.height-200 {
    min-height: 200px;
}

.height-300 {
    min-height: 300px;
}

.height-150 {
    min-height: 150px;
}
.height-400 {
    min-height: 400px;
}
.height-450 {
    min-height: 450px;
}
.height-500 {
    min-height: 500px;
}



/* BUTTONS */

.button, button {
    background-color: $primary-color;
}
ul.pagination li.current a:hover, ul.pagination li.current a:focus, ul.pagination li.current button:hover, ul.pagination li.current button:focus {
    background: $dark-color;
}
article .panel .button {
    border-radius: 5px;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: $second-font, Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 0.8rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 1.4rem;
    font-size: 0.8rem;
    border-color: $second-font;
    color: #FFFFFF;
    text-transform: uppercase;
    transition: background-color 300ms ease-out;
}


/* MAIN COLUMN */

.main-column {
    padding-left: 0px;
}


/* POST ITEM */

article button:hover,
article .panel .button:focus,
article .panel .button:hover,
article .panel .button:focus,
.widget .button:hover {
    background-color: $dark-color;
    color: #FFFFFF;
}

article.post-item .post-item-title {
    font-family: $primary-font, Helvetica, Roboto, Arial, sans-serif;
    text-transform: uppercase;
    line-height: 1.3rem;
}

article .post-item-date {
    color: $light-color;
    text-align: center;
    font-size: 0.8rem;
    position:absolute;
    top:40px;
    right:15px;
    background: $primary-color;
    text-transform: uppercase;
    padding: 5px;
}
article .post-item-date span {
    display: block;
}
article .post-item-date .day {
    font-weight: bold;
    font-size: 2.5em;
}
article .post-item-date .month-year{
    font-size: 0.7em;
}
article .panel {
    border: none;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    padding-bottom: 0px;
    position:relative;
}


/* CATEGORY ITEM */

.main-row {
    padding: 0px;
    margin-top: 20px;
}

.category-row {
    margin-bottom: 30px;
}
.category-row .post-list {
    margin-top:30px;
    margin-bottom:20px;
}

.category-row .category-header {
    margin-bottom: 10px;
}

.category-title {
    font-family: $second-font;
    color: $link-color;
    text-transform: uppercase;
    padding: 0px;
    text-align: center;
}
.category-title-line {
    background: $link-color;
    height: 1px;
}



article.columns + article.columns:last-child {
    float: left;
}
.category-row article {
    padding-bottom: 0px;
    margin-bottom: 1.35rem;
}

.category-row article .panel {
    border: none;
    margin-bottom: 0;
    padding: 0.9rem;
    padding-bottom: 0px;
    padding-top: 0.2rem;
    background: none;
}

.category-row .post-item-caption {
    height: 100%;
    background: #f2f2f2;
    webkit-box-shadow: 0px 0px 2px 1px $shadow-color;
    -moz-box-shadow: 0px 0px 2px 1px $shadow-color;
    box-shadow: 0px 0px 2px 1px $shadow-color;
}

.category-row article .post-item-image{
    max-height:180px;
    overflow: hidden;
}
.category-row article .panel p {
    font-family: inherit;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.3;
    margin-bottom: 0.9rem;
    text-rendering: optimizeLegibility;
}

.category-row .category-link-wrapper {
    display: block;
}




/* FOOTER */

footer {
    padding-bottom: 25px;
    color: #FFF;
}

footer .copyright {
    font-size: 0.9em;
}

footer .copyright a {
    color: $dark-color;
}

footer .copyright a:hover {
    color: #FFF;
}

footer .breadcrumbs {
    display: block;
    list-style: none;
    margin-left: 0;
    overflow: hidden;
    padding: 0.5625rem 0.875rem 0.5625rem;
    background-color: transparent;
    border: none;
}

footer .breadcrumbs li a,
footer .breadcrumbs li {
    color: #FFF;
}

footer .breadcrumbs li a:hover {
    color: #000;
}

footer .breadcrumbs > *::before {
    color: #000;
}

footer .footer-bar {
    margin-bottom: 25px;
    background-image: url("../img/bright-squares.png");
    background-blend-mode:normal;
    padding-top: 20px;
    padding-bottom: 60px;
    margin-top: 20px;
    background-attachment: fixed;
}

footer .footer-bar form{
    max-width: 100%;
    overflow: hidden;
}
.widget .button.small{
    padding-left:5px;
    padding-right:5px;
    width:100%;
    font-size: 1em;
    padding:0.55em;
    
}
footer .footer-bar .widget-title {
    color: $light-color;
}

footer .footer-bar {
    margin-top: 20px;
    background-color: $dark-color;
}


footer .footer-bar .widget-title {
    font-family: $primary-font;
    text-transform: uppercase;
    border-bottom: solid 1px;
    padding-bottom: 20px;
    display: block;
    margin-bottom: 15px;
}

footer .back-to-top-wrapper {
    position: relative;
}

footer a.back-to-top {
    width: 60px;
    height: 60px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    color: #FFF;
    background: $primary-color;
    position: fixed;
    text-align: center;
    line-height: 60px;
    right: 4%;
    bottom: 30%;
    font-size: 2em;
}

footer a.back-to-top:hover {
    color: $link-color;
    background: #fff;
    border: solid 1px $link-color;
}

footer a#back-to-top {
    opacity: 1;
    z-index: 999;
}


/* SIDEBAR */


aside .widget {
    max-width: 100%;
    margin-bottom: 15px;
    border:solid 1px $border-color;
}
aside .widget ul, .widget ol{
    padding:15px 10px;
}
aside .row.widget {
    margin-bottom: 20px;
    border: solid 1px #d8d8d8;
}

aside .widget-title {
    color: #FFF;
    font-family: $primary-font;
    text-transform: uppercase;
    display: block;
    margin-bottom: 15px;
    background: $secondary-color;
}

aside .widget_search .widget-title {
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    background: none;
}

aside .widget_search {
    background: $primary-color;
    padding: 5px 10px 0px 15px;
    border:solid 1px $primary-color;
}

aside .widget_search button {
    font-size: 1.4em;
}
aside .widget .button.small {
    padding: 0.6rem 0.5rem 0.7rem 0.5rem;
    font-size: 0.8125rem;
}
aside .widget-title {
    padding: 5px 10px 0px 15px;
    margin-bottom: 0px;
    margin-top: 0px;
}

aside .widget-title .fa {
    font-size: 0.85em;
    height: 22px;
    line-height: 22px;
    padding-right: 10px;
    display: block;
    float: left;
}

aside .twitter-feed .widget-title {
    background: #35a0d8;
}

aside .widget.twitter-feed {
    max-height: 300px;
    overflow: hidden;
}

aside .facebook-box .widget-title {
    background: #3e5e97;
}

aside .facebook-box iframe {
    width: 100%;
}

aside .recent-posts-box ul {
    padding: 0;
    margin: 0;
    padding: 15px;
}

aside .widget ul li {
    list-style: none;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-bottom: dashed 1px $border-color;

}
aside .widget ul li:last-child {
    border-bottom: none;
}

aside .recent-posts-box ul li:last-child {
    border-bottom: none;
}

.widget .button.small {
    padding: 0.64rem;
    font-size: 0.8125rem;
    width: 100%;
}
.widget ul {
    list-style: none;
    margin:0; 
    padding:0;
}
.widget ul li a:before {
    font-family: $icon-font;
    content: '\f054';
    color: $link-color;
    padding-right: 10px;
}
.widget ul li a {
    font-size: 0.9em;
    color: $dark-color;
}
footer .widget ul li a {
    font-size: 0.9em;
    color: $light-color;
}
aside .recent-posts-box ul li a {
    font-size: 0.8em;
}

.widget ul li a:hover {
    color: $link-color;
}


/* SINGLE POST */

.single-row {
    padding: 0px;
}

.single-row article .panel {
    padding-top: 15px;
    padding-bottom: 15px;
}

.single-row article .panel,
.archive-row article .panel {
    border: none;
    margin: 0;
    padding: 15px;
    background: none;
}

.single-row article .panel .post-item-date {
    text-align: center;
}

.single-row article .panel .post-item-date p {
    clear: right;
    text-transform: uppercase;
    font-size: 1em;
    margin-bottom: 0.4em;
}

.single-row article .panel .post-item-date .post-item-day {
    color: #000;
    font-weight: bold;
}

.single-row article .panel .post-item-category {
    padding-top: 5px;
    border-top: solid 1px;
}
.single-row .post-categories, .single-row .post-tags {
    margin-right:20px;
    margin-bottom:20px;
}
.single-row article.post-item iframe {
    min-width: 100%;
}

.single-row article.post-item {
    padding: 15px;
    /* background: rgba(245, 245, 245, 0.8) !important; */
    line-height: 1.3em;
    font-size: 17px;
    width: 100%;
    background: #FFF;
    /* padding-top:50px; */
    text-align: justify;
    
    -webkit-box-shadow: 0px 0px 2px 1px $shadow-color;
    -moz-box-shadow: 0px 0px 2px 1px $shadow-color;
    box-shadow: 0px 0px 2px 1px $shadow-color;
}
.single-row article .post-item-image{
    position:relative;
}
.single-row article.post-item .wp-caption {
    background: #efefef;
    color: #000;
    font-style: italic;
}

.single-row article.post-item .wp-caption-text {
    padding: 5px;
    text-align: center;
    font-size: 0.7em;
}

.single-row article.post-item ul,
.single-row article.post-item ul {
    list-style: none;
}

.single-row article.post-item ol {
    list-style: none;
    counter-reset: li
}

.single-row article.post-item .post-content ol li:before {
    content: counter(li) ".";
    color: $link-color;
    display: inline-block;
    width: 1em;
    font-weight: bold;
    padding-right: 25px;
}

.single-row article.post-item ol li {
    counter-increment: li;
}

.single-row article.post-item .post-content ul li:before {
    font-family: $icon-font;
    content: '\f054';
    color: $link-color;
    padding-right: 1em;
    font-size: 0.7em;
    height: 10px;
    line-height: 10px;
    position: relative;
    bottom: 3px;
}

.single-row article.post-item blockquote {
    background: #efefef;
    border-left: 5px solid $link-color;
    padding: 5px 10px 5px 20px;
    margin-bottom: 10px
}

.single-row article .category-title-line{
    height:2px;
}
.single-row article .post-item-date {
    color: $light-color;
    text-align: center;
    font-size: 0.8rem;
    position: absolute;
    top: 80px;
    right: -5px;
    background: $primary-color;
    text-transform: uppercase;
    padding: 5px;
    padding-left:10px;
    webkit-box-shadow: 0px 0px 2px 1px $primary-color;
    -moz-box-shadow: 0px 0px 2px 1px $primary-color;
    box-shadow: 0px 0px 2px 1px $primary-color;
}
.single-row article.post-item blockquote p {
    margin: 7px 0
}

.single-row article.post-item blockquote blockquote {
    background: #fff
}

.single-row article.post-item .post-item-author {
    padding: 20px 10px;
    background: #1d1d1b;
}

.single-row .post-item-author p,
.single-row .post-item-author {
    color: white;
    font-size: 0.9em;
}

.single-row .post-item-author img {
    height: 120px;
    width: 120px;
    max-width:100%;
    height: auto;
    border-radius: $author-image-radius;
    -moz-border-radius:$author-image-radius;
    -webkit-border-radius:$author-image-radius;
}


/*
.single-row article.post-item img {    background:#FFF;padding:6px;border:solid 1px #d9d9d9;
}
*/

.single-row article button:hover,
.single-row article .panel .button:focus,
.single-row article .panel .button:hover,
.single-row article .panel .button:focus,
.single-row .widget .button:hover {
    background-color: #000;
    color: #FFFFFF;
}

.single-row article.post-item .bottom-line {
    border-bottom: 10px solid $link-color;
    margin-bottom: 10px;
}

.single-row article.post-item .post-item-title {
    font-family: $primary-font, Helvetica, Roboto, Arial, sans-serif;
    text-transform: uppercase;
    line-height: 2.5rem;
    padding-bottom: 5px;
    text-align: left;
}

.breadcrumbs {
    display: block;
    list-style: none;
    margin-left: 0;
    overflow: hidden;
    padding: 0.5625rem 0.875rem 0.5625rem;
    background-color: transparent;
    border: none;
}
.single-row .breadcrumbs {
        margin-bottom:15px;
}
.single-row .post-item .breadcrumbs {
    font-weight: bold;
    font-size: 0.9em;
    padding: 0;
}

.breadcrumbs > * {
    color: #000;
    font-size: 0.7em;
}

.breadcrumbs  a {
    color: $link-color;
}
.breadcrumbs a:hover{
    color:$primary-color;
}


/* ARCHIVES */

.category-row.archive-row .category-title,.category-row.archive-row .category-title-line, .not-found,
.single-row .category-title, .single-row .category-title-line
{
    text-align: left;
}

ul.pagination li.current a,
ul.pagination li.current button {
    background: $link-color;
}
ul.pagination li a, ul.pagination li{
    font-size: 1em;
    font-family: $second-font;
}

/* TABLES */

table,
th,
td {
    border: 1px solid $extra-light-color;
}

table {
    width: 100%;
}

table thead tr th {
    background-color: $link-color;
    color: white;
    text-transform: uppercase;
    font-family: $primary-font;
}


/* WORDPRESS STYLES */

.aligncenter,
div.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alignleft {
    float: left
}

.alignright {
    float: right
}

img.alignleft {
    margin: 3px 20px 10px 0
}

img.alignright {
    margin: 3px 0 10px 20px
}


/* RESPONSIVE STYLES */

@media only screen and (max-width: 39.0624em) {
    .columns.nav-wrapper {
        width: 100%;
        padding-left:0px;
        padding-right:0px;
    }
    .top-bar-section ul li > a {
    color:$primary-color;
    }
}
@media only screen and (max-width: 40.0625em) {
    
    header div.slogan .title{
    padding-top:20px;
    font-size: 3.8em;
}
    header div.logo{
        margin:0 auto;
        float: none;
    }
    .nav-wrapper ul.right,
    .nav-wrapper ul.left {
        float: none !important;
    }
    .nav-wrapper nav {
        border: none;
    }
    .top-bar ul.title-area li {
        background: #000;
    }
    .top-bar ul li {
        background: #FFF;
        border-bottom: dotted 1px $link-color;
    }
    .top-bar-section .dropdown li.title.back h5 a::before{
        font-family: $icon-font;
        content: '\f053';
        font-size: 0.8em;
        border:none;
        color:$primary-color;
    }
    .top-bar-section .dropdown li.title.back h5 a{
        color: #FFF;
    }
    .top-bar-section .dropdown li.title h5 a, .top-bar-section .dropdown li.parent-link a {
        color: $primary-color;
        display: block;
    }
    .top-bar-section .has-dropdown > a::after {
        font-family: $icon-font;
        content: '\f054';
        font-size: 0.8em;
        border:none;
        padding-right: 10px;
        height: 1em;
        line-height: 1em;
    }
    .top-bar-section ul li:hover:not(.has-form) > a {
        color: #000;
        background:$light-color;
    }
    .top-bar-section ul li > a { 
        padding-top:5px;
        padding-bottom:5px;
        font-size: 0.7em;
    }
    nav ul.languages li.oblique-border {
        display: none;
    }
    .category-row article,
    .category-row article:nth-child(2n+0) {
        padding: 0px;
    }
    .category-row .post-list,
    .archive-row {
        padding: 15px;
    }
    .main-column {
        padding-right: 0px;
    }
    .category-row article,
    .sy-controls li a:after {
        top: 50%;
    }
    p {
        font-size: 0.9rem;
        line-height: 1.4;
        margin-bottom: 1.25rem;
        text-rendering: optimizeLegibility;
    }
    .category-row article .post-item-image img{
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    .category-row article .post-item-image {
        max-height: 200px;
    }
    .category-row article .panel p {
        font-family: inherit;
        font-size: 0.9rem;
        font-weight: normal;
        line-height: 1.3;
        margin-bottom: 0.6rem;
        text-rendering: optimizeLegibility;
    }
    
}


/* COLORS */

footer {
    background: $primary-color;
}

header .overlay{
    background:$primary-color;
    height: 100%;
    width: 100%;
    opacity: 0.9;
    top: 0;
    left: 0;
    padding: 0;
    padding-top:15px;
}
header .socials {
    padding-bottom:25px;
}
header {
    display: block;
    position: relative;
    background:url(../img/back.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-size: cover;
}

.clearfix {
    clear: both;
}

/* ANIMATED CURSOR */
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
/* PAGINATION */
.pagination-wrapper{
    float:right;
    position:relative;
    left:-50%;
    text-align:left;
}
.pagination-wrapper .pagination{
    list-style:none;
    position:relative;
    left:50%;
}
/* MISCELLANEOUS */
figure {
    margin:0;
    min-width: 100%;
    margin-top:20px;
    margin-bottom:20px;
}
article.comment-wrapper {
    margin-top: 20px;
}