$author-image-radius : 60px;
$icon-font:    'FontAwesome';
$primary-font:    'Arvo', serif;
$second-font:    'Roboto',Helvetica, sans-serif;
$primary-color: #5f3633;
$secondary-color: #FF8000;
$light-color: #ffbb8f;
$link-color: #F47621;
$shadow-color:#c9c9c9;
$border-color:#d8d8d8;

$dark-color: #020d16;
$extra-light-color: #c8d5fc;

@import 'base';

.nav-wrapper nav li.current-menu-item,
.nav-wrapper nav li.current-menu-ancestor,
.nav-wrapper nav li.current-menu-parent
{
    a {
        background: darken($link-color, 20);
        color: #FFF;
    }

}

.nav-wrapper nav.top-bar li.current-menu-parent
{
    border-bottom:solid 4px $light-color;
}

.nav-wrapper nav {
    li > a {
        color: darken($link-color, 20);
        &:hover{
            background: darken($link-color, 20);
        }
    }
}

header {
    border-bottom: solid 5px darken($link-color, 20);
}

article .post-item-date, article .post-item-date.wrap {
    color:$primary-color;
    background:$light-color;
}

header div.slogan .title{
    color: $secondary-color;
}
header .socials ul li a {
    color: darken($link-color, 10);
    border: solid 1px $light-color;
}

header .socials ul li a:hover {
    color: $light-color;
    border: solid 1px $light-color;
}


header div.slogan .title{
    color: $secondary-color;
    font-family: $primary-font;
}
header div.slogan .typed-strings em{
    font-family: $second-font;
}
header div.slogan .typed-strings{
    color: $light-color;
    font-family: $second-font;
}

header div.slogan a {
    color: #FFF;
}

header div.slogan a:hover {
    color: $light-color;
}
header .overlay .site-title a, header .overlay .site-description {
    color:$light-color;
}
header .overlay .site-title a:hover {
    color:#FFF;
}

footer .footer-bar {
    background-color: $light-color;
}
footer .footer-bar .widget-title {
    color: $primary-color;
}
footer .widget ul li a {
    color: $primary-color;
}
footer .copyright a {
    color: $light-color;
}

footer .copyright a:hover {
    color: $dark-color;
}
.carousel-control-next,
.carousel-control-prev {
    background-color: $light-color;
    border-color: $light-color;

    &:hover{
        background-color: darken($link-color, 20);
        border-color: darken($link-color, 20);
    }
}
.carousel {
    a.simple-btn {
        background: $light-color !important;
        &:hover{
            background: darken($link-color, 20) !important;
            color: #FFF !important;
        }
    }
    .carousel-caption h2 {
        color: $light-color !important;
    }
}